%nav.top-bar.foundation-bar{"data-topbar" => ""}
  %ul.title-area
    %li.name
      %span
        %h1
          =link_to t(:company_name), '#'
  %section.top-bar-section
    / Right Nav Section
    %ul.right
      %li
        =link_to t('.admin_panel'), admins_path
