%nav.top-bar.foundation-bar{"data-topbar" => ""}
  %ul.title-area
    %li.name
      %span
        %h1
          %a{:href => "#"} Company Name
  %section.top-bar-section
    / Right Nav Section
    %ul.right
      %li
        %a{:href => "/admin", :target => "_blank"} Login